#accordeon {
    display: flex;
    margin: 0;
    padding: 0;
}


#accordeon li {
    width: 107px;
    
    overflow: hidden;


-webkit-transition: all 1s ea se-in-out;
-moz-transition: all 1s ease-in-out;
-o-transition: all 1s ease-in-out;
-ms-transition: all 1s ease-in-out;
transition: all 1s ease-in-out;
}